node_modules/
npm-debug.log
nohup.out
selenium-debug.log
.DS_Store

# exclued selenium.jar from GitHub it's 21MB!
bin/selenium.jar

# exclude chromedriver as its 12MB and changes often!
bin/chromedriver

reports
.env
