language: node_js
sudo: required
dist: trusty
node_js:
  - "9"

cache:
  directories:
    - node_modules  

env:
  global:
    - CXX=g++-4.8
    - DISPLAY=:99.0
    - CHROME_BIN=/usr/bin/google-chrome

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - oracle-java8-set-default

before_script:
  - npm install
#  - npm install -g nightwatch
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 #wait a while before xvfb to start

script:
  - npm test test/e2e/Siim_Raudsepp_rahvaraamat.js
  - ls -l screenshots
  - ls -l screenshots/*/*
  - node test/e2e-ignore/dropbox.js

notifications:
  email: false